@import "./base/reset";
@import "./base/variables";
@import "./base/mixin";


.logo {
    width: 175px;
  }
  
  body {
    background-color: black;
  }
  
  .titulo {
    font-size: 80px;
  }
  
  .borrder {
    border-bottom: 1px solid rgb(56, 56, 56);
  }  

  .btnOnline {
    padding: 5px 10px;
    @extend .botonStart;    
    background-color: rgb(24, 14, 170);
  
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: violet;
    z-index: -1;
    transform: translatex(-100%);
    transition: all 1s;
  }
}
  
  
  .btnOnline:hover:before {
    transform: translatex(0%);
  }
  
  .btnOnline:hover {
    color: $test-color;
  }

  .botonStart {
    text-decoration: none;
    color: $test-color;
    font-family: sans-serif;
    font-size: 40px;
    border: 3px solid $test-color;
    padding: 15px 35px;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    font-weight: map-get($font-weights, bo);

    &:hover{
      @include  defino-color;
      
    }     
   }
   .botonStart:before {
    content: "";
    background-color: $test-color;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    position: absolute;
    transform: translatex(-100%) rotate(45deg);
    transition: all 0.3s;
}
.botonStart:hover:before {
  transform: translatex(100%) rotate(45deg);
}
   
  
.dark-mode{
  @include theme(true);
}

.title-flex{
  display: flex;
  justify-content: center;
}

.games-title{
  color: map-get($colores-juegos, titulos );
}


