$test-color: white;
$color-fondo: black;
$color-letras: rgb(248, 248, 248);


$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

$colores-juegos: (
  "titulos": rgb(214, 211, 8)
)
